# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp
*.log

# Folders
_obj
_test
api/src/redis/vendor/github.com/
api/src/mysql/vendor/github.com/
log/
data/redis_db
data/mysql_db
.cache
web/node_modules/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.log
